@font-face {
    font-family: 'Norse Bold'; 
    src: url("fonts/Norse-Bold.otf") format('opentype'); 
}

body {
    margin: 0;
}
.container {
    display: flex;
    
}
.section-1 {
    background-image: url("assets/bgImge.jpg");
    /* opacity: 0.9; */
    height: 100vh;
    width: 500px;
    /* width: 500px; */
    background-size: 110%;
}

.section-1-header{
    display: flex;
    /* width: 60%;
    height: 40%px; */
    justify-content: center;
    /* border: 1px solid white; */
    align-items: center;
    margin-top: 200px;
    background-color: black;
    opacity: 0.5;
    padding: 10px;
}

.odin-logo {
    color: white;
    align-self: center;
    justify-self: center;
    font-size: 4.5em;
    font-family: 'Norse Bold';
}

.sideimage {
    align-self: center;
}

.section-2 {
    height: 100vh;
    width: 1000px;
    display: flex;
    flex-direction: column;
}

.intro {
    background-color: grey;
    height: 205px;
    padding-left: 40px;
}

.signup{
    background-color: grey;
    height: 290px;
    padding-left: 40px;
}

h1 {
    padding-left: 40px;
    padding-bottom: 2px;
}

.signup-form {
    height: 200px;
    /* padding-top: 10px; */

}

.name, .details, .passwords {
    display: flex;
    gap: 30px;
    padding-left: 40px;
    padding-top: 10px;
    width: 50%;
}

.name {
    padding-top: 2px;
}

input {
    padding: 0.4rem;
    padding-left: 0.5rem;
    font-size: 0.9rem;
    border: 0.07rem solid #E5E7EB;
    border-radius: 4px;
    width: 13rem;
  }

p {
    font-size: 20px;
}

.intro > .one {
    padding-top: 80px;
    text-wrap: wrap;
    /* width: 80%; */
}


input[type='text']:focus,
input[type='tel']:focus,
input[type='email']:focus,
input[type='password']:focus {
    border: 0.07rem solid rgb(28, 50, 224);
    border-radius: 5px;
    outline: none;
    box-shadow: 0.1rem 0.1rem 0.2rem #888888;
}

.error, .error-border{
    font-size: 0.6rem;
    color: red;
  }

  button {
    color: white;
    background-color: #596D48;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}



